
<main class="container-fluid vh-100 bg-light-gray d-flex flex-column justify-content-center align-itens-center">
  <h1 class="title mt-lg-5 align-self-center">Secretaria online</h1>
  <div class="d-flex flex-center align-itens-center p-5">
    
      <div class="d-flex flex-column pr-5" style="margin-left: 10%;">
      <p>O objetivo dessa aplicação é testar as habilidades técnicas dos(as) novos(as) instrutores(as) de desenvolvimento web front-end.</p>
      <p>A Generation está buscando Instrutores para facilitar treinamentos para jovens beneficiados pelo Programa Generation - Desenvolvedor Java Jr. O programa busca qualificar e inserir jovens no mercado de trabalho com uma formação rápida no estilo bootcamp.</p>
      <p>O Instrutor será responsável por facilitar sessões nas quais os jovens desenvolverão habilidades técnicas e socioemocionais para qualificá-los para vagas em empregadores parceiros da Generation.</p>
      </div>
    
      <span style="margin-right: 10%;"><iframe width="560" height="315" src="https://www.youtube.com/embed/kdGWKGM7yoA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
    
  </div>
</main>
