<div class="d-flex mt-lg-auto">
  <nav class="navbar fixed-top position-absolute navbar-expand-lg navbar-dark bg-dark px-0 mb-5">
    <div class="container-fluid px-0">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          <a class="nav-link" routerLink="listaparticipantes">Lista de Participantes</a>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle navbar-dark bg-dark" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Cadastros
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" routerLink="listaturmas">Turmas</a></li>
              <li><a class="dropdown-item" routerLink="criaparticipantes">Participantes</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  </div>

