<footer>
  <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark justify-content-center">
    <div class="container-small d-inline-flex justify-content-around ">
  <fa-icon [icon]="faGithub" class="fa-2x px-2 text-muted"></fa-icon>
  <fa-icon [icon]="faLinkedin" class="fa-2x px-2 text-muted"></fa-icon>
  <fa-icon [icon]="faFacebook" class="fa-2x px-2 text-muted"></fa-icon>
  <fa-icon [icon]="faInstagram" class="fa-2x px-2 text-muted"></fa-icon>
  <p class="my-auto px-2 text-muted">Desenvolvido por: Thiago Faccipieri - 2021</p>
  </div></nav>
</footer>