
<div class="container-fluid d-flex justify-content-center mt-lg-5 align-itens-center">
  <h2 class="self-align-center">Tem certeza de que deseja deletar o usuário?</h2>
</div>
  <div class="container-fluid vh-75 d-flex justify-content-center align-itens-center">
  <button type="button" class="btn btn-outline-info mr-5 align-self-end" (click)="delete()">
    Deletar
  </button>
  <button type="button" class="btn btn-outline-danger ml-5 align-self-end" routerLink="/listaparticipantes">
    Cancelar
  </button>
</div> 
