
<main class="container-fluid my-5 py-5 vh-75 d-flex flex-column justify-content-center align-itens-center">
    <h1 class="title mt-lg-5 align-self-center">Secretaria Online</h1>

<table mat-table [dataSource]="dataSource" class=" table-striped align-self-center w-75" id="participantsTable">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> E-mail </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>
  
  <ng-container matColumnDef="observacoes">
    <th mat-header-cell *matHeaderCellDef> Observações </th>
    <td mat-cell *matCellDef="let element"> {{element.observacoes}} </td>
  </ng-container>
  
  <ng-container matColumnDef="turma">
    <th mat-header-cell *matHeaderCellDef> Turma </th>
    <td mat-cell *matCellDef="let element"> {{element.turma}} </td>
  </ng-container>

  <ng-container matColumnDef="editar">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element"> <button type="button" class="btn btn-outline-info">
      Editar
    </button> </td>
  </ng-container>

  <ng-container matColumnDef="deletar">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element"> <button type="button" class="btn btn-outline-danger" (click)= "modalService.open('modal-1')"> 
      Deletar
    </button> 
  </td>
  </ng-container>

  
  

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<jw-modal id="modal-1">
  <div class="container-fluid d-flex justify-content-center align-itens-center">
  <h2 class="self-align-center">Tem certeza de que deseja deletar o usuário?</h2>
</div>
  <div class="container-fluid vh-75 d-flex justify-content-center align-itens-center">
  <button type="button" class="btn btn-outline-info mr-5 align-self-end">
    Deletar
  </button>
  <button type="button" class="btn btn-outline-danger ml-5 align-self-end" (click)= "modalService.close('modal-1')"> 
    Cancelar
  </button>
</div> 

</jw-modal>

</main>